<!-- @format -->

<% if (success && success.length) { %>
<div
	class="alert alert-success alert-dismissible fade show col-md-8 col-sm-9 col-10"
	role="alert"
    style="text-align: center; font-size: 1.2rem; font-weight: 600; margin: 0px auto;"
    >
	<%= success %>
    <button type="button" data-bs-dismiss="alert" aria-label="Close" class="btn-close"></button>
</div>
<% } %>
