<!-- @format -->

<footer>
	<div class="f-info" style="margin-bottom: 0;">
		<div class="f-info-socials">
			<div class="i-text">
				<i class="fa-solid fa-globe"></i>
				English (IN)
			</div>
			<div>₹INR</div>
			<div class="all-socials">
				<a href="https://www.facebook.com/AirbnbIndia"
					><i class="fa-brands  fa-square-facebook"></i
				></a>
				<a  href="https://x.com/airbnb_in"
					><i class="fa-brands  fa-x-twitter"></i
				></a>
				<a  href="https://www.instagram.com/airbnb/"
					><i class="fa-brands  fa-square-instagram"></i
				></a>
			</div>
		</div>
		<div>© 2024 Airbnb, Inc.</div>
		<div class="f-info-links">
			<a href="#">Privacy</a>
			<a href="#">Terms</a>
			<a href="#">Sitemap</a>
			<a href="#">Company Details</a>
		</div>
	</div>
</footer>
